<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SkillForge - Online Education Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Bootstrap 4.4.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- TOPBAR -->
    <%- include("../includes/topbar") %>

        <!-- NAVBAR -->
        <%- include("../includes/navbar") %>

            <!-- PAGE CONTENT WILL BE INJECTED HERE -->
             <!-- FLASH MESSAGE -->
            <div class="container">
                <%- include("../includes/flashMessage") %>
            </div>
            <%- body %>

                <!-- FOOTER -->
                <%- include("../includes/footer") %>

                    <!-- SCRIPT FILES -->
                    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

                    <script src="/lib/easing/easing.min.js"></script>
                    <script src="/lib/waypoints/waypoints.min.js"></script>
                    <script src="/lib/counterup/counterup.min.js"></script>
                    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
                    <script src="/js/main.js"></script>

</body>

</html>